<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/BEN-Logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ben Cook</h3>
      </div>

      <div class='text-center'><a href='https://github.com/benjaminkcook'>@benjaminkcook</a></div>
    </div>
  </div>
</div>
